* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.calc_container {
    border: 1px solid blue;
    margin: 100px auto;
    max-width: 250px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.display {
    width: 230px;
    height: 150px;
    border-radius: 5px;
}

.btn_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.main_container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}